ENV_STATE=
DEBUG=

DEV_POSTGRES_USER=
DEV_POSTGRES_PASSWORD=
DEV_POSTGRES_HOST=
DEV_POSTGRES_PORT=
DEV_POSTGRES_DB=
DEV_REDIS_HOST=
DEV_REDIS_PORT=
DEV_REDIS_DB=
DEV_SUPABASE_URL=
DEV_SUPABASE_SERVICE_KEY=
DEV_SUPABASE_STORAGE_BUCKET=
DEV_SUPABASE_JWT_SECRET=

PROD_POSTGRES_USER=
PROD_POSTGRES_PASSWORD=
PROD_POSTGRES_HOST=
PROD_POSTGRES_PORT=
PROD_POSTGRES_DB=
PROD_REDIS_HOST=
PROD_REDIS_PORT=
PROD_REDIS_DB=
PROD_SUPABASE_URL=
PROD_SUPABASE_SERVICE_KEY=
PROD_SUPABASE_STORAGE_BUCKET=
PROD_SUPABASE_JWT_SECRET=