ENV_STATE=
DEBUG=

DEV_POSTGRES_USER=
DEV_POSTGRES_PASSWORD=
DEV_POSTGRES_HOST=
DEV_POSTGRES_PORT=
DEV_POSTGRES_DB=
DEV_REDIS_HOST=
DEV_REDIS_PORT=
DEV_REDIS_DB=
DEV_SUPABASE_URL=
DEV_SUPABASE_SERVICE_KEY=
DEV_SUPABASE_STORAGE_BUCKET=
DEV_SUPABASE_JWT_SECRET=
DEV_GITHUB_TOKEN=
DEV_OLLAMA_BASE_URL=
DEV_OLLAMA_MODEL=
DEV_OLLAMA_TIMEOUT=
DEV_OLLAMA_MAX_RETRIES=
DEV_OLLAMA_CONTEXT_SIZE=